.siteadmin-createsite-container{
    margin:auto;
    width: 100%;
    width: 100%;
  
    box-sizing: border-box;
    

     /* overlay on top of page */
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     z-index: 999;
     background-color: rgba(0,0,0,0.5);
 

}
.form{
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 60%;
    padding: 0 20px;
    box-sizing: border-box;
}

.form-input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}
.form-button-cancel{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #f44336;
    color: #fff;
    cursor: pointer;
}
.form-button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}