.pswd-resit-cont{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}
.pswd-reset-title{
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 20px;
}
.pswd-reset-form{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);

}
.pswd-reset-input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
}
.pswd-reset-button{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    font-size: 16px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
}

.success {
    color: rgb(219, 233, 219);
    background-color: rgb(0, 128, 0);
    width: 200px;
    height: 40px;
    border: 1px solid rgb(0, 128, 0);
    
}
.error{
    color: rgb(255, 0, 0);
    background-color: rgb(255, 255, 255);
    width: 200px;
    height: 40px;
    border: 1px solid rgb(255, 0, 0);
}